<h2>Países</h2>
<hr />
<ul class="list-group">
  <!-- <li
    class="list-group-item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink=""
  >
    Home Page
  </li>
  <li class="list-group-item" routerLinkActive="active" routerLink="about">
    About Page
  </li>
  <li class="list-group-item" routerLinkActive="active" routerLink="contact">
    Contact Page
  </li> -->
  <li
    class="list-group-item"
    routerLinkActive="active"
    routerLink="countries/by-capital"
  >
    Por Capital
  </li>
  <li
    class="list-group-item"
    routerLinkActive="active"
    routerLink="countries/by-country"
  >
    Por País
  </li>
  <li
    class="list-group-item"
    routerLinkActive="active"
    routerLink="countries/by-region"
  >
    Por Región
  </li>
</ul>
